.overiew {
    padding: 3vh 3vw;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 135px;
    width: 80vw;
    border-radius: 10px;

    .overview__title {
        margin-bottom: 10px;
        font-weight: 200;
        text-transform: uppercase;
    }
}