.task {
    width: 80vw;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: all 200ms ease-in-out;

    .task__title {
        font-weight: 200;
        font-size: 20px;
        display: inline-block;
    }

    .task__info-wrapper {
        display: flex;
        flex-direction: row;
        float: right;
        
        .task__delete-btn {
            margin-left: 2vw;
            transition: all 150ms ease-in-out 200ms;
            cursor: pointer;
            border-radius: 50%;
            padding: 3px;

            &:hover {
                transform: scale(1.15);
                color: red;
                background: rgba(0, 0, 0, 0.1); 
            }
        }

        .task__time {
            display: inline-block;
            font-size: 10px;
        }
    }

    
    .task__body {
        font-size: 14px;
    }
}